{rebar_plugins, [
    rebar_todo_plugin
]}.

{deps, [
    {rebar_todo_plugin, "1.0.*", {git, "git://github.com/sa2ajj/rebar_todo_plugin.git", {branch, "master"}}}
]}.

{erl_opts, [
    warnings_as_errors
]}.

{eunit_opts, [
]}.

{cover_enabled, true}.

{xref_checks, [
    undefined_function_calls
]}.

{todo, [
]}.

% vim:ft=erlang
